## Fluent Python

### Ch. 2: An Array of Sequences

#### Example 2-1 Build a list of unicode codepoints from a string

In [5]:
symbols = '$¢£¥€¤'
codes = []
for symbol in symbols:
    codes.append(ord(symbol))

codes

[36, 162, 163, 165, 8364, 164]

#### Example 2-2 Build a list of unicode codepoints from a string, take two

In [7]:
symbols = '$¢£¥€¤'
codes = [ord(symbol) for symbol in symbols]
codes

[36, 162, 163, 165, 8364, 164]

After learning about listcomps, I find Example 2-2 more readable because its intent is explicit.

#### Example 2-3 The same list built by a listcomp & a map/filter composition

In [8]:
symbols = '$¢£¥€¤'
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127] 
beyond_ascii

[162, 163, 165, 8364, 164]

In [9]:
beyond_ascii = list(filter(lambda c: c> 127, map(ord, symbols)))
beyond_ascii

[162, 163, 165, 8364, 164]

#### Example 2-4 Cartesian product using a list comprehension

In [10]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes]
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [11]:
for color in colors:
    for size in sizes:
        print((color, size))

('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

In [12]:
tshirts = [(color, size) for size in sizes
          for color in colors]
tshirts

[('black', 'S'),
 ('white', 'S'),
 ('black', 'M'),
 ('white', 'M'),
 ('black', 'L'),
 ('white', 'L')]

#### Example 2-5 Initializing a tuple and an array from a generator expression

In [14]:
symbols = '$¢£¥€¤'
tuple(ord(symbol) for symbol in symbols)

(36, 162, 163, 165, 8364, 164)

In [15]:
import array
array.array('I', (ord(symbol) for symbol in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

#### Example 2-6 Cartesian product in a generator expression

In [16]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
for tshirt in ('%s %s' % (c, s) for c in colors for s in sizes):
    print(tshirt)

black S
black M
black L
white S
white M
white L

#### Example 2-7 Tuples used as records

In [17]:
lax_coordinates = (33.9425, -118.408056) # lat/lon of the LA International Airport
city, year, pop, chg, area =  ('Tokyo', 2003, 32450, 0.66, 8014) # Data about Tokyo
traver_ids =  [('USA', '31195855'), ('BRA', 'CE342567'),  ('ESP', 'XDA205856')] # A list of tuples of the form
for passport in sorted(traver_ids): # Iterate over the list; passport is bound to each tuple
    print('%s/%s' % passport) # % formatting operator understands tuples and treats each item as a separate field

BRA/CE342567
ESP/XDA205856
USA/31195855

In [18]:
for country, _ in traver_ids: # unpacking; the second item is not interested here, so assigned it as a dummy var.
    print(country)

USA
BRA
ESP

In [22]:
# tuple unpacking 1) parallel assignment
lax_coordinates = (33.9425, -118.408056) # lat/lon of the LA International Airport
latitude, longitude, = lax_coordinates
latitude

33.9425

In [21]:
longitude

-118.408056

In [29]:
# tuple unpacking 2) swapping the values of variables w/o using a temporary variable
latitude, longitude = longitude, latitude

In [30]:
# tuple unpacking 3) prefixing an argument with a star when calling a function
divmod(20, 8)

(2, 4)

In [31]:
t = (20, 8)
divmod(*t)

(2, 4)

In [34]:
quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

In [37]:
import os
_, filename = os.path.split('/home/luciano/.ssh/idrsa.pub')
filename

'idrsa.pub'

#### Example 2-8  Unpacking nested tuples to access the longitude

In [39]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)), # holding a record with four fields
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
     ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),]

In [43]:
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.')) 
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas: # assigning the last field to a tuple;
    if longitude <= 0: # limiting the output to metropolitan areas in the Western hemisphere
        print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

#### Example 2-9  Defining and using a named tuple type

In [45]:
from collections import namedtuple
City = namedtuple('City', 'name country population coordinates') # a class name / a list of field names
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [46]:
tokyo.population # access the fields by name

36.933

In [47]:
tokyo.coordinates

(35.689722, 139.691667)

In [48]:
tokyo[1] # access the fields by position

'JP'

#### Example 2-10  Named tuple attributes and methods (continued from the previous example)

In [49]:
City._fields # a tuple with the field names of the class

('name', 'country', 'population', 'coordinates')

In [50]:
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889)) 
delhi = City._make(delhi_data) # _make() allow you to instantiate a named tuple from an iterable;
delhi._asdict() # _asdict() returns a collections.OrderedDict built from the named tuple instance

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', LatLong(lat=28.613889, long=77.208889))])

In [51]:
for key, value in delhi._asdict().items():
    print(key + ':', value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)